:root {
  --player-height: 90px;
  --sidebar-width: 50px;
  --top-content-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141922;
  color: gray;
  font-weight: bold;
}

/* img {
  max-width: 100%;
} */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.top {
  height: calc(100vh - var(--player-height));

  display: flex;
}
.player {
  height: var(--player-height);
  background-color: #282828;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: black;
}

.top-content {
  height: var(--top-content-height);
  background-color: #080b12;
}

.main-content {
  width: calc(100% - var(--sidebar-width));
}

/* SIDEBAR  */

.logo {
  display: none;
}

.logo-small {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.home-img,
.search-img,
.library-img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.sidebar-top li span {
  display: none;
}
.sidebar-top li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar-top ul {
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: 15px;
}

.fa-plus {
  margin-top: 15px;
  color: black;
  background-color: #a3a3a3;
  padding: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
  margin-left: 10px;
}
.sidebar-top h4,
h5 {
  display: none;
}

.sidebar-top .create-playlist {
  display: none;
}

.download-img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
.sidebar-bottom span {
  display: none;
}

.bottom-row {
  width: 210px;
  height: 1px;
  background-color: gray;
  display: none;
  margin: 8px 10px;
}
.icon-svg {
  background-color: gray;
  color: white;
  border-radius: 50px;
  margin: 5px auto;
  display: block;
  width: 50%;
}

/* PLAYER  */
.player {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-left {
  display: flex;
  align-items: center;

  gap: 1rem;
  padding-left: 20px;
}
.player-left-list {
  margin-right: 15px;
}

.player-left-list span {
  color: white;
}

.sinister-img {
  width: 40px;
}

.player-center {
  text-align: center;
  width: 40%;
}

.player-center-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.player-center-icons ul li {
  display: inline;
  color: white;
  margin-right: 20px;
  font-size: 1.5rem;
}
.fa-circle-play {
  font-size: 2rem;
}

.counter-bar {
  height: 5px;
  background-color: gray;
  width: 150px;
  margin: 0 5px;
}

.counter-bar-gone {
  height: 5px;
  background-color: white;
  width: 25%;
}

.player-center-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-right,
.counter-left {
  font-size: 0.8rem;
  color: white;
}

.player-right {
  display: flex;
  align-items: center;
}

.player-right ul {
  margin-right: 5px;
}

.player-right ul li {
  display: inline;
  color: white;
}

.player-right .counter-bar {
  width: 100px;
}

/* MAIN SECTION  */
.top-content-btn {
  text-align: end;
}
.top-content-btn button {
  background-color: #080b12;
  padding: 15px 30px;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  margin-top: 20px;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 15px;
  column-gap: 1rem;
  row-gap: 2rem;
}

.sections div {
  font-size: 0.9rem;
}

@media screen and (min-width: 639px) {
  :root {
    --sidebar-width: 250px;
  }

  .logo-small {
    display: none;
  }

  .logo {
    display: block;
    width: 60%;
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 30px;
  }

  .sidebar-top li span {
    display: inline;
  }

  .sidebar-top ul {
    margin-left: 20px;
  }

  .home-img,
  .search-img,
  .library-img {
    width: 10%;
    display: block;
    margin: 0px 5px 5px 0px;
  }
  .sidebar-top h4,
  h5 {
    display: block;
    margin-left: 10px;
  }

  .sidebar-top h4 {
    color: white;
    margin-left: 20px;
  }

  .sidebar-top h5 {
    margin-left: 10px;
    margin-right: 5px;
  }

  .sidebar-top .create-playlist {
    display: block;
  }

  .sidebar-bottom span {
    display: inline;
  }

  .bottom-row {
    display: block;
  }
  .download-img {
    width: 7%;

    margin: 0px 9px 0px 15px;
  }

  .icon-svg {
    background-color: gray;
    color: white;
    border-radius: 50px;
    margin-left: 15px;
    display: inline;
    width: 1.5rem;
    margin-right: 10px;
  }

  .install {
    display: flex;
  }

  .install span {
    font-size: 0.8rem;
  }

  .user {
    display: flex;
    align-items: center;
  }
}
